@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


body {
  color: #ffe;
  font-family: 'Special Elite', cursive;
}

.water-lilies {
  background-image: url(../src/app/clock/water-lilies.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 24px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.green {
  background-color: rgba(88, 127, 97, 0.4);
  border-radius: 16px;
}

.purple {
  background-color: rgba(111, 106, 130, 0.4);
  border-radius: 16px;
}

.time {
  margin: 0 auto;
  text-align: center;
  width: calc(100% - 40px);
  font-size: 3rem;
  font-weight: 700;
}

.quote {
  font-size: 3rem;
  padding: 24px 24px 16px 24px;
}

.source {
  font-size: 2.75rem;
  font-style: italic;
  padding: 24px 0 12px 24px;
}

.author {
  font-size: 2.5rem;
  padding: 24px 0 12px 24px;
}

footer {
  font-size: 1.75rem;
  margin: 0 auto;
  padding: 8px 8px 4px 8px;
  position: fixed;
  bottom: 40px;
  left: 40px;
}

@media only screen and (max-width: 600px) {

  .water-lilies {
    background-image: url(../src/app/clock/water-lilies.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section {
    width: calc(100% - 24px);
    margin: 0;
    padding: 4px 8px;
  }

  .time {
    font-size: 1.5rem;
    /* width: calc(100% - 40px); */
    padding: 8px 4px;
    background-color: rgba(88, 127, 97, 0.4);
    border-radius: 16px;
  }

  .quote {
    padding: 4px;
    font-size: 1.25rem;
    /* width: calc(100% - 40px); */
  }

  .source, .author {
    /* width: calc(100% - 40px); */
    padding: 4px;
    font-size: 1rem;
  }

  footer {
    font-size: 1rem;
  }
}
